"""Configuration for pre canned code"""
# vim: set fileencoding=utf-8 :

# Trailling / is required
website_root_on_disk = '/Users/me/Documents/exhibitions/'

omekas_base_url = 'https://example.org/'
omekas_site_id = 16
omekas_item_set_id = 929 # Could be derived via API call

# Generate via admin > user > Api keys
credential_params = {
    "key_identity": "ident",
    "key_credential": "cred"
}

run_verbose = False

api_url_items = '{}api/items'.format(omekas_base_url)
api_url_media = '{}api/media'.format(omekas_base_url)
api_url_sites = '{}api/sites'.format(omekas_base_url)
api_url_site_pages = '{}api/site_pages'.format(omekas_base_url)

